name: Auth0 Deploy

on:
  workflow_dispatch:
  push:
    paths:
      - 'auth0/**'
    branches:
      - main

jobs:
  deploy-auth0:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Auth0 Deploy CLI
        run: npm i -g auth0-deploy-cli

      - name: Deploy tenant config
        env:
          AUTH0_DOMAIN: ${{ secrets.AUTH0_DOMAIN }}
          AUTH0_CLIENT_ID: ${{ secrets.AUTH0_MGMT_CLIENT_ID }}
          AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_MGMT_CLIENT_SECRET }}
          AUTH0_ALLOW_DELETE: 'false'
        run: |
          a0deploy import \
            --input_file ./auth0/tenant.yaml \
            --format yaml
